/* .UpdateAddress{
    margin: auto;
  
   width:50%;
   border:1.5px solid rgb(221, 211, 211);
   margin-top:1px;
   margin-bottom:15px;
 } */
 .UpdateAddress {
    margin: auto;
    width: 80%;
    height:auto;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    /* background:linear-gradient(white,rgb(255, 217, 166),rgb(250, 214, 94)); */
  }

 /* .UserView tbody tr{
   height:5px;
 }
 */
.FetchAddress h4{
  
 color:white;
 text-align: center;
 box-shadow: 0 2px 3px #ccc;
 border: 1px solid red;
 padding: 6px;
 box-sizing: border-box;
 background-color:black;
 /* height:40px;  */
 /* width:50%; */
 margin-top:0px;
}