.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 1px; 
     margin: 1px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0; 
}

.Button:disabled{
    color:#ccc;
    cursor:not-allowed;
}
.Success {
    color: green;
}

.Danger {
    color: red;
}
.Primary{
    color:blue;
}
.Info{
    color:skyblue;
}