.RegisterData {
    margin: auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background:linear-gradient(white,rgb(255, 217, 166),rgb(250, 214, 94));
}

.RegisterData h2{
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}
/* 
.RegisterData button {
    background-color: #4caf50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  } */

@media (min-width : 600px){
    .RegisterData {
        width: 500px;
    }
}