.LoginData {
    margin: auto;
    width: 80%;
    height:315px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    background:linear-gradient(white,rgb(255, 217, 166),rgb(250, 214, 94));
  }
  .LoginData h2{
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: left;
    box-sizing:border-box;
}

.Link1{
float:left;
}
  .Link2{
float:right;
  }
  /* .LoginData h2 { */
    /* margin: 20px auto; */
    /* color:black; */
    /* width: 80%; */
    /* text-align: left; */
    /* box-shadow: 0 2px 3px #ccc; */
    /* border: 1px solid #eee; */
    /* padding: 10px; */
    /* box-sizing: border-box; */
    /* background-color: cyan; */
  /* } */
  

 
  @media (min-width: 600px) {
    .LoginData {
      width: 500px;
    }
  }